<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>

    <section name="sftp" type="System.Configuration.DictionarySectionHandler"/>

  </configSections>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <sftp>
    <add key="env_test_interval" value="5"/>
    <add key="env_prod_interval" value="10"/>

    <add key="env_test" value="yes"/>
    <!-- activate Run service on Test -->
    <add key="env_prod" value="no"/>
    <!-- activate Run service on Production -->

    <!-- SFTP Server Test configure -->
    <add key="sftp_host_test" value="sftpsap.dksh.com" />
    <add key="sftp_port_test" value="22" />
    <add key="sftp_user_test" value="th_rbt" />
    <add key="sftp_pwd_test" value="Dkshcssc04" />

    <!-- SFTP Server Production configure -->
    <add key="sftp_host" value="sftpsap.dksh.com" />
    <add key="sftp_port" value="22" />
    <add key="sftp_user" value="th_rbt" />
    <add key="sftp_pwd" value="Dkshcssc04" />

    <!-- RBTSO Test configure -->
    <add key="test_rbtso_src_path" value="E:\RBT\SOOUTBOX\QAS" />
    <add key="test_rbtso_target_path" value="/SAPPI/TH/RBT/QAS/IN" />
    <add key="test_rbtso_file" value="RBTSO*.*" />

    <!-- PGI Test configure -->
    <add key="test_pgi_src_path" value="/SAPPI/TH/RBT/QAS/OUT" />
    <add key="test_pgi_src_path_backup" value="/SAPPI/TH/RBT/QAS/OUT/arcdata" /> <!-- Backup from /OUT -->
    <add key="test_pgi_target_path" value="E:\RBT\SOINBOX\QAS" />
    <add key="test_pgi_file" value="CO*.*" />

    <!-- RPT Test configure -->
    <add key="test_rpt_src_path" value="E:\RBT\OHOUTBOX\QAS" />
    <add key="test_rpt_target_path" value="/SAPPI/TH/RBT/QAS/OUT/RPT" />
    <add key="test_rpt_file" value="OH*.*|TR*.*" />
    

    <!-- RBTSO Production configure -->
    <add key="rbtso_src_path" value="E:\RBT\SOOUTBOX" />
    <add key="rbtso_target_path" value="/SAPPI/TH/RBT/PRD/IN" />
    <add key="rbtso_file" value="RBTSO*.*" />

    <!-- PGI Production configure -->
    <add key="pgi_src_path" value="/SAPPI/TH/RBT/PRD/OUT" />
    <add key="pgi_src_path_backup" value="/SAPPI/TH/RBT/PRD/OUT/arcdata" /> <!-- Backup from /OUT -->
    <add key="pgi_target_path" value="E:\RBT\SOINBOX" />
    <add key="pgi_file" value="CO*.*" />

    <!-- RBTSO Production configure -->
    <add key="rpt_src_path" value="E:\RBT\OHOUTBOX" />
    <add key="rpt_target_path" value="/SAPPI/TH/RBT/PRD/OUT/RPT" />
    <add key="rpt_file" value="OH*.*|TR*.*" />

  </sftp>
</configuration>