<?xml version="1.0" encoding="utf-8" ?>
<log4net debug="false">
  <!-- log to file -->
  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="log\sftp" />
    <staticLogFileName value="false" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value="-yyyyMMdd.\tx\t" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="1MB" />
    <layout type="log4net.Layout.PatternLayout">
      <header type="log4net.Util.PatternString" value="%newline-------------------- Logger is started. --------------------%newline" />
      <footer type="log4net.Util.PatternString" value="-------------------- Logger is stopped. --------------------%newline" />
      <conversionPattern value="%date [%-20thread] %-5level [%-15logger{2}] - %message%newline" />
    </layout>
  </appender>

  <!-- send to UDP client -->
  <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
    <localPort value="8081" />
    <remoteAddress value="127.0.0.1" />
    <remotePort value="8080" />
    <encoding value="Unicode" />
    <layout type="log4net.Layout.PatternLayout, log4net">
      <conversionPattern value="[%-20thread] %-5level [%-15logger{2}] - %message%newline" />
    </layout>
  </appender>

  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout, log4net">
      <conversionPattern value="[%-10thread] %-5level [%-25logger{2}] - %message%newline" />
    </layout>
  </appender>

  <logger name="mjk">
    <level value="ALL" />
    <appender-ref ref="RollingLogFileAppender" />
    <appender-ref ref="ConsoleAppender" />
    <appender-ref ref="UdpAppender" />
  </logger>

</log4net>
